<h1> <%= @list.name %> </h1>

<% @list.bookmarks.each do |bookmark| %>
  <%= bookmark.movie.title %>
  <%= bookmark.comment  %>
  <%= link_to "Delete The Movie", bookmark_path(bookmark), method: :delete %>
<% end  %>

<%= link_to "GO BACK TO LISTS", lists_path, class: "btn btn-success"%>
<%= link_to "ADD A MOVIE", new_list_bookmark_path(@list), class: "btn btn-primary"%>
<%= link_to "Delete List", list_path(@list),method: :delete, data: { confirm: "Are you sure?" } , class: "btn btn-secondary" %>
